﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Sample Front API Implementation</p>
    
</div>
<div class="row">
    <div class="col-md-4">
       
        <h3>Test Client Implementation API</h3>
        <li> http://apiclient4.azurewebsites.net/api/front?s=NewsLetters&key=lars&q=test  (accepted)</li>
        <li> http://apiclient4.azurewebsites.net/api/front?s=NewsLetters&key=gitte&q=test  (denied)</li>
        <li> http://apiclient4.azurewebsites.net/api/front?s=StoreProduct&key=gitte&q=test (accepted)</li>
        <li> http://apiclient4.azurewebsites.net/api/log/human/pass </li>
        <li> http://apiclient4.azurewebsites.net/api/log/json/pass </li>

    </div>
 
</div>
